.contact-wrapper {
    background-color: rgba(102, 151, 102, 0.1);
    height: 100vh;
    padding: 5em;
    margin: auto;
    h1 {
        width: 20%;
        text-align: center;
        padding: 0.5em;
        margin: 1em auto;
        border: 1px solid green;
        border-left: 0;
        border-right: 0;
    }
    .contact-wrapper-secondary {
        display: flex;
        justify-content: center;
        width: 60%;
        margin: auto;
        .contact-wrapper-form {
            width: 40%;
            form {
                box-shadow: 0 0 9px #ccc;
                padding: 1em;
                .send-btn {
                    display: flex;
                    justify-content: flex-end;
                    margin-top: 1em;
                    button {
                        div {
                            font-weight: bold;
                            img {
                                width: 2em;
                                height: 2em;
                                margin-right: 0.4em;
                            }
                        }
                    }
                }
            }
        }
        .contact-wrapper-social {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 40%;
            .img-wrapper {
                width: 4em;
                height: 4em;
                text-align: center;
                div {
                    font-size: 0.7em;
                    img {
                        width: 4em;
                        height: 4em;
                        border-radius: 50%;
                    }
                    span {
                        color: #000;
                    }
                }
            }
        }
    }
    @media (max-width: 415px) {
        font-size: 0.7em;
        h1 {
            width: 100%;
            font-size: 3em;
        }
        .contact-wrapper-secondary {
            flex-direction: column;
            width: 100%;
            margin: 0;
            .contact-wrapper-form {
                width: 100%;
                form {
                    .send-btn {
                        button {
                            div {
                                font-size: 0.8em;
                            }
                        }
                    }
                }
            }
            .contact-wrapper-social {
                margin-top: 3em;
                width: 100%;
            }
        }
    }
}