<div class="portfolio-wrapper">
    <h1>Projects</h1>
    <div class="projects-wrapper">
        <div class="project">
            <div class="project-image">
                <img src="assets/img/website-dev.jpg">
            </div>
            <span class="title mt-3 mb-3">Store App - Angular project using firebase for authentication, storage and hosting.</span>
            <div class="project-stack">
                <span>JavaScript</span><span>TypeScript</span><span>Angular</span><span>Firebase</span>
                <span>HTML</span><span>Sass</span><span>Bootstrap</span><span>Flexbox</span>
            </div>
            <div class="project-action">
                <a href="https://github.com/shmerling86/store/tree/master" class="btn btn-sm btn-danger">
                    <div>
                        <img src="assets/img/github-logo-png-github-logo-png-768_768.png">
                        <span>Code</span>
                    </div>
                </a>
                <a href="https://shmerling86.github.io/store/" class="btn btn-sm btn-warning">
                    <div>
                        <img src="assets/img/github-logo-png-github-logo-png-768_768.png">
                        <span>Demo</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="project">
            <div class="project-image">
                <img src="assets/img/Capture.PNG">
            </div>
            <span class="title mt-3 mb-3">Weather App - Angular project with state management(Ngrx) using Accuweather api.</span>
            <div class="project-stack">
                <span>JavaScript</span><span>TypeScript</span><span>Angular</span>
                <span>HTML</span><span>Sass</span>
                <span>Bootstrap</span><span>Flexbox</span><span>Angular Material</span>
                <span>NgRx</span><span>RxJS</span>
                <span>State Management</span><span>Responsive design</span><span>Accuweather api</span>
            </div>
            <div class="project-action">
                <a href="https://github.com/shmerling86/weatherApp/tree/master" class="btn btn-sm btn-danger">
                    <div>
                        <img src="assets/img/github-logo-png-github-logo-png-768_768.png">
                        <span>Code</span>
                    </div>
                </a>
                <a href="https://shmerling86.github.io/weatherApp/" class="btn btn-sm btn-warning">
                    <div>
                        <img src="assets/img/github-logo-png-github-logo-png-768_768.png">
                        <span>Demo</span>
                    </div>
                </a>
            </div>
        </div>
        <div class="project">
            <div class="project-image">
                <img src="assets/img/Capture2.PNG">
            </div>
            <span class="title mt-3 mb-3">Posts App - Using Angular for the frontend and NodeJS for the backend.</span>
            <div class="project-stack">
                <span>JavaScript</span><span>TypeScript</span><span>Angular</span>
                <span>HTML</span><span>Css</span><span>Flexbox</span>
                <span>Angular Material</span><span>Responsive design</span><span>RxJS</span>
                <span>NodeJS</span><span>Express</span><span>MongoDB</span><span>AWS</span>
            </div>
            <div class="project-action">
                <a href="https://github.com/shmerling86/postsApp/tree/master" class="btn btn-sm btn-danger">
                    <div>
                        <img src="assets/img/github-logo-png-github-logo-png-768_768.png">
                        <span>Code</span>
                    </div>
                </a>
                <a href="http://myposts-env.eba-zugvtjzp.us-east-2.elasticbeanstalk.com/"
                    class="btn btn-sm btn-warning">
                    <div>
                        <img src="assets/img/AWS-512.png">
                        <span>Demo</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>