.about-wrapper {
    background-color: rgba(102, 151, 102, 0.1);
    height: 100vh;
    margin: auto;
    padding: 5em;
    h1 {
        width: 20%;
        text-align: center;
        padding: 0.5em;
        margin: 1em auto;
        border: 1px solid green;
        border-left: 0;
        border-right: 0;
    }
    .description {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: auto;
        font-size: 1.4em;
    }
    .wrapper {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 5em auto 0 auto;
        .stack {
            display: flex;
            flex-wrap: wrap;
            height: 12%;
            width: 45%;
            span {
                border: 1px solid rgb(200, 200, 200);
                padding: 0.3em;
                margin: 0.3em;
            }
        }
        .image {
            img {
                border-radius: 50%;
                width: 15em;
                width: 15em;
            }
        }
    }
    .button-wrapper {
        display: flex;
        justify-content: center;

        @media (max-width: 415px) {
            margin-top: 2em;
        }
    }

    @media (max-width: 415px) {
        font-size: 0.7em;
        height: 100%;
        h1 {
            width: 100%;
            font-size: 3em;
        }
        .description {
            width: 100%;
        }
        .wrapper {
            width: 100%;
            flex-direction: column-reverse;
            margin: 0;
            .stack {
                width: 100%;
            }
            .image {
                margin: 1em auto;
                img {
                    width: 10em;
                }
            }
        }
    }
}
