<div class="about-wrapper">
    <h1>About</h1>
    <div class="description">
        Passionate web developer with experience in using modern tools and technologies. Highly motivated,
        responsible, curious and a quick learner, with strong team collaboration and communication skills.
    </div>
    <div class="wrapper">
        <div class="stack">
            <span>JavaScript</span><span>TypeScript</span><span>Angular</span><span>jQuery</span>
            <span>HTML</span><span>CSS</span><span>Sass</span> <span>Flexbox</span><span>Bootstarp</span>
            <span>Angular Material</span> <span>Responsive design</span>
            <span>RxJS</span> <span>State Management</span> <span>NgRx</span>
            <span>NodeJS</span><span>Express</span><span>Aws</span><span>MongoDB</span>
        </div>
        <div class="image">
            <img src="assets/img/profile.png">
        </div>
    </div>
    <div class="button-wrapper">
        <a href="#projects">
            <button type="button" class="btn btn-outline-info">My Projects</button>
        </a>
    </div>
</div>