<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <main>
        <div class="welcome">
            <a class="navbar-brand" href="#welcome">
                <img src="https://img.icons8.com/flat_round/100/000000/home--v1.png" />
            </a>
        </div>
        <div class="nav">
            <span class="section-wrapper">
                <a class="navbar-brand" href="#about">
                    <img src="https://img.icons8.com/fluent/100/000000/guest-male.png" />
                    <span>About</span>
                </a>
            </span>
            <span class="section-wrapper">
                <a class="navbar-brand" href="#projects">
                    <img src="https://img.icons8.com/plasticine/100/000000/bag-front-view.png" />
                    <span>Projects</span>
                </a>

            </span>
            <span class="section-wrapper">
                <a class="navbar-brand" href="#contact"><img
                        src="https://img.icons8.com/color/100/000000/ringing-phone.png" />
                        <span>Contact</span>
                </a>
            </span>
        </div>
    </main>
</nav>

<app-welcome id="welcome"></app-welcome>
<app-about id="about"></app-about>
<app-portfolio id="projects"></app-portfolio>
<app-contact id="contact"></app-contact>
<div class="footer card-footer text-muted text-center">
    LIOR SHMERLING 2020
</div>